/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.white-text {
    color: white;
}

.blue-bg {
    background-color: #0061ff;
}

p {
    font-size: .8em;
    font-weight: 600;
}


/* Header code */

/* Header Toolbar code */

#header li {
    display: inline-block;
    padding-right: 30px;
}

#header a {
    text-decoration: none;
    color: rgb(37, 21, 21);
    font-size: .8em;
    font-weight: 600;
}

.left-toolbar, 
.right-toolbar,
.dropbox-logo,
.toolbar-list {
    display: inline-block;
}

.dropbox-logo {
    vertical-align: middle;
    padding-right: 30px;
}

.toolbar-container {
    padding: 25px
}

.right-toolbar {
    padding-left: 526px;
}

button {
    border: none;
    padding: 8px 20px;
}

/* Header Jumbo */

.jumbo-container {
    height: 650px;
    background-color: #b4d0e7;
    padding: 80px 130px;
}

.jumbo-title {
    font-size: 4.5em;
    padding-bottom: 35px;
}

.jumbo-text, 
.jumbo-img {
    display: inline-block;
}

.fa, .fas {
    padding-top: 35px;
    font-weight: 900;
    font-size: 2em;
}

.jumbo-img {
    padding-left: 100px;
    width: 900px;
    vertical-align: top;
}

.jumbo-img img {
    width: 100%;
}


#jumbo-p-padding {
    padding-bottom: 20px;
}

#jumbo-button-padding {
    padding-bottom: 10px;
}

