/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header{
    padding-bottom: 250px;
}

img {
    width: 100%;
}

#main li {
    font-size: 0.8em;
    font-weight: 600;
    list-style-type: none;
    padding-bottom: 25px;
}

.white-text {
    color: white;
}

.blue-text {
    color: #0061ff;;
}

.gray-text {
    color: #637381;
}

.blue-bg {
    background-color: #0061ff;
}

p {
    font-size: .8em;
    font-weight: 600;
}


/* Header code */

/* Header Toolbar code */

#header li {
    display: inline-block;
    padding-right: 30px;
}

#header a {
    text-decoration: none;
    color: rgb(37, 21, 21);
    font-size: .9em;
    font-weight: 600;
}

.left-toolbar, 
.right-toolbar,
.dropbox-logo,
.toolbar-list {
    display: inline-block;
}

.dropbox-logo {
    vertical-align: middle;
    padding-right: 30px;
}

.toolbar-container {
    padding: 25px
}

.right-toolbar {
    padding-left: 650px;
}

button {
    border: none;
    padding: 8px 20px;
}

/* Header Jumbo */

.jumbo-container {
    height: 700px;
    background-color: #b4d0e7;
    padding: 80px 130px;
}

.jumbo-title {
    font-size: 5em;
    padding-bottom: 35px;
}

.jumbo-text, 
.jumbo-img {
    display: inline-block;
}

.fa, .fas {
    padding-top: 35px;
    font-weight: 900;
    font-size: 2em;
}

.jumbo-img {
    padding-left: 100px;
    width: 1000px;
    vertical-align: top;
}

.jumbo-img img {
    width: 100%;
}

#jumbo-button {
    font-size: 1em;
}

#jumbo-p-padding {
    font-size: 1em;
    padding-bottom: 30px;
}

#jumbo-button-padding {
    padding-bottom: 10px;
}


/* Main */

/* Main section 1 */

/* Section 1 header */

#main-section1 {
    width: 1050px;
    margin: 0 auto;
}

.section-title h2 {
    padding-bottom: 45px;
    font-size: 2.34em;

}

.checkbox {
    padding-right: 15px;
    display: inline-block;
}

.section-title {
    padding-bottom: 35px;
}

.checkbox .checkbox-text {
    font-weight: 600;
    font-size: .9em;
}

/* Section 1 main */

.row-spacer {
    line-height: 25px;
    padding-bottom: 40px;
}

.main-icon {
    font-size: 0.8em;
    padding: 0;
}

.block {
    padding-bottom: 25px;
    display: block;
}

.main-button-padding {
    padding: 7px 48px;
}

.small-hr {
    display: block;
    border: none;
    border-top: 1px solid #e0e0e0;
    border-bottom: none;
    width: 45px;
    margin: 30px 0 0 0;
}

.list-row {
    padding-top: 50px;
}

.main-column {
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-top: none;
    width: 313px;
    height: 1000px;
    
}

.title-row {
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.info-row, .list-row {
    padding: 30px;
}

.price {
    font-size: 1.2em;
}

.info-title {
    font-weight: 800;
    font-size: 1.4em;
    padding-bottom: 10px;
}

.end-info-row {
    font-weight: 600;
    font-size: 0.8em;
    padding-top: 25px;
}

.end-info-row a {
    font-weight: 600;
}

.list-title {
    padding-bottom: 20px;
}

.icon.text {
    font-size: 1.2em;
}

.no-bold-text {
    font-weight: 500;
   
}

#main-central-column{
    vertical-align: top;
    margin: 0 50px;
}

#section1-main {
    padding-bottom: 50px;
}


/* Section 1 footer */

.section1-footer-text {
    display: inline-block;
    padding: 30px 0 30px 30px;
}

.section1-footer-button {
    display: inline-block;
    vertical-align: top;
    padding: 30px 30px 30px 0;
}

#section1-footer {
    border: 1px solid #e0e0e0;
    border-top: none;
}

#section1-footer-button {
    padding: 7px 80px;
}

/* Main section  */

.section2-img-container {
    display: inline-block;
    width: 550px;
}
.section2-text-container {
    vertical-align: top;
    display: inline-block;
    width: 495px;
    padding: 45px 0 0 45px;
}

#main-section2-button {
    background-color: white;
}

#main-section2-button {
    font-size: 0.9em;
    font-weight: 600;
    border: 1px solid black;
    background-color: white;
}

#main-section2 p {
    padding-bottom: 25px;
    font-size: 1em;
}

#main-section2 h3 {
    font-size: 1.6em;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 25px;
}


#main-section2 {
    width: 1050px;
    margin: 0 auto;
    padding: 150px 0;
}